/* Ajoutez ces styles dans votre feuille de style CSS */
section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/assets/images/wp.jpg");
  background-position: center;
  filter: blur(10px); /* Appliquez le flou ici */
  z-index: -1; /* Assurez-vous que le pseudo-élément est en arrière-plan */
}
section {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 95vh;
  overflow-y: hidden;
}

.login-form {
  background: rgba(113, 128, 147, 0.8); /* Ajoutez de la transparence à l'arrière-plan du formulaire */
  padding: 2rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px; /* Ajoutez des coins arrondis au formulaire */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ajoutez une ombre légère */
}

h2 {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.form-group {
  margin: 1rem 0;
   width: 100%;

}

.input-text {

  padding: 1rem;
  border: none;
  border-radius: 5px; /* Ajoutez des coins arrondis aux champs de saisie */
}

.login-button {
  background: #3498db;
  color: #fff;
  width: 100%;
  border: none;
  padding: 1rem;
  margin-top: 2rem;
  font-family: Candara, serif;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px; /* Ajoutez des coins arrondis au bouton */
}

.login-button:hover {
  background: #2980b9; /* Changement de couleur au survol */
}
