<section>
  <div class="card">
    <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
  </div>
  <div *ngIf="userSubject | async as userProfile" class="styled-table">
    <h2>Profil de {{ userProfile?.firstName }} {{userProfile.lastName}}</h2>

    <table>
      <tr>
        <th>Firstname</th>
        <td>{{ userProfile?.firstName }}</td>
      </tr>
      <tr>
        <th>Lastname</th>
        <td>{{ userProfile?.lastName }}</td>
      </tr>
      <tr>
        <th>Role</th>
        <td>{{ userProfile?.role }}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{ userProfile?.email }}</td>
      </tr>
      <!-- Ajoutez d'autres champs de profil ici -->
    </table>
  </div>
</section>

